@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  font-family: "DM Sans", sans-serif;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-prev:before, 
.slick-next:before {
  color: black;
  font-size: 20px;
}

.slick-next:before {
  margin-left: -7px;
}

.slick-prev {
  z-index: 99999;
}

/* .gradient-bg {
  background: linear-gradient(to top right, #f2f2f2, #f2f2f2 65%, #b3b3f77b 80%, #6363ef77);
  background-size: cover;
  background-attachment: fixed;
} */

.gradient-bg {
  background: linear-gradient(to top right, #f3f3f3, #f3f3f3 75%, #b3b3f798 99%, #6363ef67);
  background-size: cover;
}

.animated-background {
  background-size: 400%;

  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0%,
  100% {
      background-position: 0% 50%;
  }
  
  50% {
      background-position: 100% 50%;
  }
}

.trapezoid {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  background: linear-gradient(140deg, rgba(99, 99, 239, 1) 20%, rgba(99, 99, 239, 0.6) 80%);
  /*height: 60vh;  Adjust based on your design */
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar * {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d6d5d5 !important;
  border-radius: 25px;
}